body {
    background: linear-gradient(40deg, #b0beca, #010806) !important;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: calc(100vh - 0px);
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #b0beca, #010806) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}